.git
.git/**
**/__pycache__/**
**.coverage
**/build/**
**/CMakeFiles/**
multipy/runtime/example/generated/
examples/**/*.pt
*.egg-info
.DS_Store
**/.DS_Store/**
docs/source/api/
docs/src/
dist/
.lintbin
.lintbin/**
