[submodule "multipy/runtime/third-party/fmt"]
	path = multipy/runtime/third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "multipy/runtime/third-party/pybind11"]
	path = multipy/runtime/third-party/pybind11
	url = https://github.com/pybind/pybind11.git
