apt-transport-https
build-essential
bzip2
ca-certificates
ccache
curl
curl
git
glibc-source
gnome-panel
gnupg
libbz2-dev
libexpat1-dev
libffi-dev
libgdbm-dev
libgl-dev
libgmp-dev
libgtest-dev
libjpeg-dev
liblzma-dev
libncurses5-dev
libncursesw5-dev
libreadline-dev
libreadline6-dev
libsqlite3-dev
libssl-dev
libxml2-dev
libxmlsec1-dev
llvm
llvm
ncurses-dev
python-openssl
python-pip
python3-pip
software-properties-common
tcl-dev
tix-dev
tk-dev
wget
xz-utils
zlib1g-dev
