build-essential
bzip2
bzip2-devel
curl
gcc
libbz2-dev
libffi-dev
libffi-devel
liblzma-dev
libncursesw5-dev
libnsl2-devel
libreadline-dev
libsqlite3-dev
libssl-dev
libxml2-dev
make
openssl-devel
readline-devel
sqlite
sqlite-devel
tk-dev
tk-devel
xz-devel
xz-utils
zlib-devel
zlib1g-dev
