build-essential
ca-certificates
ccache
curl
wget
git
libjpeg-dev
xz-utils
bzip2
libbz2-dev
liblzma-dev
libreadline6-dev
libexpat1-dev
libgdbm-dev
glibc-source
libgmp-dev
libffi-dev
libgl-dev
ncurses-dev
libncursesw5-dev
libncurses5-dev
gnome-panel
libssl-dev
tcl-dev
tix-dev
libgtest-dev
tk-dev
libsqlite3-dev
zlib1g-dev
llvm
python-openssl
apt-transport-https
ca-certificates
gnupg
software-properties-common
python-pip
python3-pip
