sphinx
# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinx-gallery<=0.7.0
sphinxcontrib.katex
matplotlib
papermill
jinja2<=3.0.3
breathe
exhale
ipython_genutils
ipykernel
