name: Multipy runtime nightly release + tests

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  pull_request:

jobs:
  unittest:
    strategy:
      matrix:
        python-version: [3.8]
        platform: [linux.2xlarge]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Update pip
        run: |
          sudo yum update -y
          sudo yum -y install git python3-pip
          sudo pip3 install --upgrade pip
      - name: Setup conda
        run: |
          wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
          bash ~/miniconda.sh -b -p $HOME/miniconda
      - name: setup Path
        run: |
          echo "/home/ec2-user/miniconda/bin" >> $GITHUB_PATH
          echo "CONDA=/home/ec2-user/miniconda" >> $GITHUB_PATH

      - name: Checkout MultiPy
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup SSH (Click me for login details)
        uses: ./.github/actions/setup-ssh
        with:
          github-secret: ${{ secrets.GITHUB_TOKEN }}
      - name: Install C++ toolchain
        run: |
              sudo yum -y install clang llvm
              export CC=clang
              export CXX=clang++
              sudo yum -y install xz-devel bzip2-devel libnsl2-devel readline-devel expat-devel gdbm-devel glibc-devel gmp-devel libffi-devel libGL-devel libX11-devel ncurses-devel openssl-devel sqlite-devel tcl-devel tix-devel tk-devel
              sudo yum -y install lzma
              sudo yum -y install uuid
              sudo yum -y install openmpi-devel
              sudo yum -y install zlib-devel
      - name: create conda env
        run: |
          conda create --name multipy_runtime_env python=${{ matrix.python-version }}
          conda info

      - name: Install python/pytorch dependencies
        shell: bash -l {0}
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
          conda run -n multipy_runtime_env python -m pip install astunparse numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing_extensions future six requests dataclasses pytest
      - name: gen examples
        shell: bash -l {0}
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
            # A minor hack to get the CI working as conda doesn't have torch,
            # fortunately we can remove this once we have a dynamically linked torch
            cd multipy/runtime/example
            conda create --name example_env python=${{ matrix.python-version }}
            conda run -n example_env python -m pip install torch torchvision torchaudio pathlib
            conda run -n example_env python generate_examples.py
      - name: Build multipy runtime
        shell: bash -l {0}
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
              cd multipy
              cd runtime
              mkdir build
              cd build
              pwd
              conda run -n multipy_runtime_env cmake ..
              conda run -n multipy_runtime_env cmake --build . --config Release
      - name: test_deploy
        id: test_deploy
        shell: bash -l {0}
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
              cd multipy
              cd runtime
              cd build
              ./test_deploy
      - name: Update nightly release
        # if: steps.test_deploy.conclusion == 'success'
        uses: pyTooling/Actions/releaser@main
        with:
          tag: nightly
          rm: true
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            multipy/runtime/build/interpreter/libtorch_deployinterpreter.so
