name: 'workflow testing'

on:
  schedule:
    - cron: '0 0 * * 5'
  pull_request:
jobs:
  mwe:
    runs-on: ubuntu-latest
    steps:

    # Clone repository
    - uses: actions/checkout@v2

    # Build your application, tool, artifacts, etc.
    - name: Build
      run: |
        echo "Build some tool and generate some artifacts" > artifact.txt
        mkdir folder
        mkdir folder/folder2
        echo "some more random artifacts" > folder/artifact1.txt
        echo "some more random artifacts" > folder/artifact2.txt
        echo "some more random artifacts" > folder/folder2/artifact1.txt
        echo "some more random artifacts" > folder/folder2/artifact2.txt

    # Update tag and pre-release
    # - Update (force-push) tag to the commit that is used in the workflow.
    # - Upload artifacts defined by the user.
    - uses: pyTooling/Actions/releaser@r0
      with:
        tag: nightly
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          folder/**
          README.md
